{% extends "base.html" %}
{% block title %}Delete Post{% endblock title %}
{% block content %}
<div class="container mt-5">
  <div class="card border-danger">
    <div class="card-body">
      <h1 class="card-title text-danger">Delete Confirmation</h1>
      <p class="card-text">Are you sure you want to delete <strong>"{{ object.title }}"</strong>?</p>
      <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirm</button>
        <a href="{% url 'posts:post_list' %}" class="btn btn-secondary">Cancel</a>
      </form>
    </div>
  </div>
</div>
{% endblock content %}