# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# MacOS
.DS_Store

# Django stuff
*.sqlite3

# VS Code settings (optional)
.vscode/

# Environment variables
echo ".env" >> .gitignore

# Static files
staticfiles